table {
  border-collapse: collapse;
  font-size: 10px;
  width:1000px
}
.second th, .second td {
  border: solid 1px black;
  vertical-align:top;
}
.short {
  width:50px;
}
.long {
  width:400px
}
.center {
  text-align: center;
}
